<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title>오늘 어디가지?</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

        <script type="text/javascript">


            function search() {
                let place = $("#place-name").val();

                if (place == "") {
                    alert("장소를 입력해주세요");
                    $("#place-name").focus();
                    return
                } else {
                    alert("수량을 입력해주세요");
                    $("#order-count").focus();
                    return
                }
            }

            function savePlace() {
                let place = $("#place-name").val();

                if (place == "") {
                    alert("장소를 입력해주세요");
                    $("#place-name").focus();
                    return
                }

                //현재 좌표
                navigator.geolocation.getCurrentPosition(function (pos) {
                    var latitude = pos.coords.latitude;
                    var longitude = pos.coords.longitude;
                    alert("현재 위치는 : " + longitude + ", " + latitude);

                    $.ajax({
                        type: "GET",
                        url: "/search/route",
                        data: {lat_give: latitude, long_give: longitude, place_give: place}, // 데이터를 주는 방법
                        success: function (response) { // 성공하면

                        }
                    })
                    $.ajax({
                        type: "GET",
                        url: "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode",
                        data: {}, // 데이터를 주는 방법
                        success: function (response) { // 성공하면

                        }
                    })

                });

            }


        </script>


        <style type="text/css">
            * {
                font-family: "Stylish", sans-serif;
            }

            h1, h5 {
                display: inline;
            }

            .wrap {
                width: 1000px;
                margin: 50px;
            }

            .img {
                background-image: url("https://blog.hmgjournal.com/images_n/contents/hyundai-autumn-drive%20(14).jpg");
                background-size: cover;
                background-position: center;
                width: 500px;
                height: 300px;
            }

            .info {
                width: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .order {
                text-align: center;
            }

            .orders {
                margin-top: 100px;
            }

            .btn-primary {
                margin-left: 5px;
            }

            .center {
                text-align: center;
            }

            .star-list {
                width: 500px;
                margin: 20px auto 0 auto;
            }

            .star-name {
                display: inline-block;
            }

            .star-name:hover {
                text-decoration: underline;
            }

            .card {
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">Home</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Search</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                   aria-controls="nav-contact" aria-selected="false">Saved List</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">오늘 어디가지?</h1>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

            </div>
        </div>

        <!--        Search 탭에 들어갈것 -->
        <div class="wrap">

            <div class="info">


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">장소</span>
                    </div>

                    <input type="text" class="form-control" id="place-name">

                    <button onclick="search()" type="button" class="btn btn-primary">검색</button>
                    <button onclick="savePlace()" type="input" class="btn btn-dark">저장</button>
                </div>


                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="order-count">저장 장소</label>
                    </div>

                    <!--                    추후 Saved place에 들어갈 것-->

                    <select class="custom-select" id="order-count">
                        <option selected value=""> -- 장소를 선택하세요 --</option>
                        <option value="1">노량진</option>
                        <option value="2">광교</option>
                        <option value="3">판교</option>
                        <option value="4">포천</option>
                        <option value="5">대부도</option>
                    </select>
                </div>
            </div>

            <div id="map" style="width:500px;height:400px;"></div>
            <script type="text/javascript"
                    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a8714afb784a7016985b85b094920054"></script>
            <script>
                var container = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667),
                    level: 4
                };


            </script>

            <div class="star-list" id="star-box">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img
                                            src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95"
                                            alt="Placeholder image"
                                    />
                                </figure>
                            </div>
                            <div class="media-content">
                                <a href="#" target="_blank" class="star-name title is-4">여기에 식당/장소제목</a>
                                <p class="subtitle is-6">여기에 요약</p>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" onclick="likeStar('김다미')" class="card-footer-item has-text-info">
                            저장 (아이콘바꾸기)
                            <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
                        </a>
                        <a href="#" onclick="deleteStar('김다미')" class="card-footer-item has-text-danger">
                            삭제
                            <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
                        </a>
                    </footer>
                </div>
            </div>

        </div>
    </body>
</html>